/* Google fonts import*/

@import url('https://fonts.googleapis.com/css2?family=Esteban&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Override default styles with asterisk wildcard selector*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* General styles*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'esteban', sans-serif;

    /* Generic project styles*/
    color: #323b3b
}


/* Header */

header {
    background-color: rgba(69, 182, 182, 0.473);
    padding-left: 0px;
    padding-right: 10px;
    word-spacing: 2px;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 1px #f9fcfc;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}

header a {
    text-decoration: none;
    color: #f9fcfc;
}

h1 {
    font-family: 'poppins', sans-serif;
    word-spacing: 2px;
    font-size: 140%;
    

}

i {
    padding-right: 10px;
    padding-left: 10px;
    color: #f9fcfc;
}


nav {
    padding-right: 0 1rem;
    left: 0;
    position: absolute;
    box-shadow: 0 3px 1px #f9fcfc;
    width: 100%;
    display: none;
    top: 100%;
}

/*Hamburger toggle*/

#hamburger:checked~nav {
    display: block;
    background-color: rgba(69, 182, 182, 0.473);

}

#hamburger {
    display: none;
}

label > i:hover {
    color: rgb(200, 107, 210);
}

.hamburger-label {
    font-size: 140%;
}

#navigation {
    font-size: 110%;
    word-spacing: 6px;
    list-style-type: none;
    margin-top: 6px;
    
}

#navigation > li {
    margin-bottom: 3.5px;
}

.active {
    border-bottom: 3px solid #f9fcfc;
}


/* Main content */

main {
    background-color: rgba(188, 238, 231, 0.747);
    margin-top: 35px;

    /*So that main element takes up remaining space*/
    flex: 1 0 auto;
}


/* Footer */

footer {
    background-color: rgba(22, 112, 112, 0.685);
    box-shadow: 0 -2px 1px #f9fcfc;
}

#social-icons {
    display: flex;
    justify-content: space-evenly;
    /*flex-direction: row;*/
    list-style-type: none;
    text-align: center;
    padding: 20px 0;
}

#social-icons i {
    padding: 5%;
    font-size: 150%;
}

#social-icons i:hover {
    color: rgb(200, 107, 210);
}



/*Media queries for tablets and larger screens (768px +)  */
@media screen and (min-width: 768px) {
 
    nav {
        position: relative;
        box-shadow: none;
        width: fit-content;
        display: block;
        padding-right: 1rem;
    }


    #navigation {
        display: flex;   
        font-size: 150%;
        letter-spacing: 3px;
    
    }

    #navigation > li {
        padding-left: 25px;
        padding-right: 0px;
    
    }

    .hamburger-label {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 60px;
        margin: 0 0.5rem;
    }

    /*main styles*/

    main {
        margin-top: 60px;
    }
}

/* Media queries for laptop and desktop, 992px +  */
@media screen and (min-width: 992px) {

    #navigation a:hover {
        border-bottom: 3px solid #f9fcfc;
    }
}